.fa-facebook-official:hover {
  color: #3B5998;
}
.fa-google-plus:hover {
  color: #E61E1E;
}
.fa-quora:hover {
  color: #C70009;
}
.fa-twitter:hover {
  color: #00BBF4;
}
.fa-github-square:hover {
  color: #000000;
}
